.layout {
  display: flex;
  min-height: 100vh;
}
.layout__content {
  padding: 2.5rem 1.25rem;
  width: 100%;
}
.layout__burger {
  display: none;
  margin: 0 0 1rem 0;
}

@media (max-width: 992px) {
  .layout__burger {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
  }
}
@media (max-width: 481px) {
  .layout__content {
    padding: 2.5rem 0.625rem;
  }
}
