.sidebar {
  background: var(--color-purple-100);
  padding: 1.5rem;
  width: 100%;
  max-width: 280px;
}
.sidebar__logo {
  display: block;
  margin: 0 0 5rem 0;
  width: 100%;
  max-width: 11.188rem;
  object-fit: cover;
}

@media (max-width: 992px) {
  .sidebar {
    z-index: 2;
    position: fixed;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .sidebar_opened {
    left: 0;
  }
}

@media (max-width: 576px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  }
  .sidebar__logo {
    margin: 0 0 2rem 0;
  }
}
