.votes {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem 0;
}
.votes__average {
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0 0;
}
.votes__rating {
  margin: 0 0.25rem 0 0;
}
.votes__average__text {
  font-weight: 600;
}
.votes__count {
  color: var(--color-grey-600);
}
