.root {
  margin: 0 1rem 0 0;
  max-width: 8.614rem;
  min-width: 4.5rem;
}
.label {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
}
.input:focus,
.input:focus-within {
  border-color: var(--color-purple-500);
}
.option {
  &[data-combobox-selected] {
    background-color: var(--color-purple-500);
    color: var(--color-white);
  }
}

.arrows {
  display: flex;
  flex-direction: column;
}
.arrow {
  cursor: pointer;
}
.arrow:hover {
  color: var(--color-purple-500);
}
.arrow:active {
  color: var(--color-purple-400);
}

@media (max-width: 992px) {
  /* .root {
    max-width: 80px;
  } */
}
@media (max-width: 768px) {
}
